*{
    padding: 0;
    margin:0;
    font-family: 'paytone one', sans-serif;
}
body{
    display: flex;
    background:#191919;
    min-height: 100vh;
    justify-content:center;
    align-items: center;
}
header{
    display: flex;
    position:absolute;
    bottom:90%;

}
header a{
    color:#fff;
}
.form{
    position: relative;
    width: min(380px, 360px);
    height: 420px;
    background: #1c1c1c;
    border-radius: 8px;
    overflow: hidden;
}
.form::before{
    content: '';
    position:absolute;
    top:-50%;
    left:-50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,#45f3ff);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}
.form::after{
    content: '';
    position:absolute;
    top:-50%;
    left:-50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,#45f3ff);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}
@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.box{
    position: absolute;
    inset:2px;
    border-radius: 8px;
    background: #28292d;
    z-index: 10;

}
.box h2{
    color: #fff;
    text-transform: capitalize;
    text-align: center;
    margin-top:20px;
    margin-bottom: 30px;
}
.form-wrapper{
    text-align: center;
    width:min(340px,320px);
    height: 30px;
    background:#a0a0a0;
    padding: 10px;
    margin-bottom:20px;
    margin-left:8px;
    border-radius: 20px;
}

.form-wrapper a{
text-decoration: none;
text-transform: capitalize;
font-size:20px;
color:#191919;
}
.form-wrapper a:hover{
    color:#fdfdfd
}
.icons{
    display: flex;
    position: absolute;
    gap:10px;
    margin-left:30px;
}
.icons img{
    width: 30px;
    height: 30px;
}
.icons1 img{
    padding:10px;
}
.wrapper{
    display: flex;
    padding:20px;
}
p{
    color:#fff;
    font-weight: 600px;
    font-size:16px;
    margin-left:8px;
    margin-right: 8px;
}

.wrapper a{
    text-decoration: none;
    text-transform: capitalize;
    color: #03CEFB;
} 
.wrapper a:hover{
    transform: scale(1.1);
    transition:.3s;
}