*{
    padding: 0;
    margin: 0;
    font-family: 'paytone one',sans-serif;
    box-sizing: border-box;
    
}
body{
    background-color: #1b2430
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    width: 100%;
  }
  
  .logo {
    text-decoration: none;
    font-size: 1.8rem;
    color: rgb(145, 145, 167);
    padding-left: 20px;
  }
  
  .hamburger {
    padding-right: 20px;
    cursor: pointer;
    position: absolute;
    left:70%;

  }
  
  .hamburger .line {
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background-color:white;
  }
  
  .nav__link {
    position: absolute;
    width: 100%;
    top: 5rem;
    right:3rem;
    background-color: #121111;
    text-align: center;
    overflow: hidden;
    z-index: 999;
  }
  
  .nav__link a {
    display: block;
    text-align: center;
    padding: 10px 0;
    color:white;
    text-decoration: none;
    text-transform: capitalize;
  }
  
  .nav__link a:hover {
    background-color: lightcoral;
  }
  
  .hide {
    display: none;
  }
  
  @media screen and (min-width: 600px) {
    .nav__link {
      display: block;
      position: static;
      width: auto;
      margin-right: 20px;
      background: none;
    }
  
    .nav__link a {
      display: inline-block;
      padding: 15px 20px;
    }
  
    .hamburger {
      display: none;
    }
  }
.fa-solid{
    color:#fff;
    width:50px;
    height: 50px;
}
    /*my work css*/
    .my-work{
margin-top:30px;
background:#191919;
height:200vh auto;
display:grid;
place-items: center center;
    }
    .my-work h3{
        color:#fff;
        text-transform: uppercase;
        font-size:25px;
        margin-top:10px;
    }
   .cards{
display:grid;
grid-template-columns: repeat(auto-fit,minmax(360px,1fr));
padding: 20px;
grid-gap:40px;
   }
   .card{
background-color: #1c1b29;
border: 20px;
box-shadow: 0 0 30px rgba(0,0,0,0,18);

   }
   .card:hover{
    transform: scale(1.1);
    transition: .3s ;
    cursor: pointer;
   }
   .containers{
    position: relative;
    clip-path: polygon(0 0,100% 0,100% 85%, 0 100%);
   }
   img{
    width:min(100%);
    display: block;
    border-radius: 20px 20px 0 0;

   }
   .details{
    padding:20px 10px;

   }
   .details h4{
    color:#fff;
    font-weight: 600;
    font-size:18px;
    margin:10px 0 15px 0;
    text-transform: capitalize;
   }
   .details li{
    list-style-type: none;
    color:#a0a0a0;
    font-size:15px;
    line-height: 25px;
    font-weight: 400;

   }
   .portofolio_buttons{
    display: flex;
    gap: 20px;
    place-content: center;
    margin-bottom: 10px;
   }
   .linkedin{
    width:200px;
    height: 30px;
    border: 2px solid #fff;
    background:#a69191;
    padding-top: 5px;
    text-align: center;
    border-radius: 5px;
   }
   .linkedin a{
    color:#000;
    text-decoration: none;
    text-transform: capitalize;
   }
   .fa-file{
    width:auto;
    color:#000;
   } 
   .linkedin:hover,.linkedin a:hover{
    transform: scale(1.1);
    transition:.3s;
   }

   footer {
    margin-bottom: 20px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.18);
  }
  
  footer > p {
    text-align: center;
    text-transform: capitalize;
    color: #919296;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
  }
   /*media queries*/
@media (max-width:35em){
    .primary-navigation{
        position:fixed;
        z-index: 1000;
        inset:0 0 0 20%;
        flex-direction: column;
        background:hsl(0 0% 100% / 0.1);
        padding:min(30vh, 10rem) 2rem;
        backdrop-filter: blur(1rem);
        transform: translateX(100%);
        transition: transform 350ms ease-in;
    }
    .primary-navigation[data-visible="true"]{
        transform: translateX(0%);
    }
    nav ul li{
        display: block;
    }
    .mobile-nav-toggle{
        display: block;
        position: absolute;
        z-index:9999;
        background-color: transparent;
        background: url(../images/icons/1298745_google_brand_branding_logo_network_icon.svg);
        background-repeat: no-repeat;
        width: 0.5rem;
        aspect-ratio: 1;
        top:2rem;
        margin-left:100px;
        
    }  
}
