*{
    margin:0;
    padding: 0;
    font-family: 'paytone one',sans-serif;
}
body{
    background: #191919;
}
.container{
    padding-top: 10%;
    display: flex;
    gap:20px;
    justify-content: center;
}
.wrapper{
    background: #965C25;
    width: 300px;
    height: 200px;
    text-align: center;
    padding-top:10%;
    border-radius: 10px;
    box-shadow: 10px 10px 80px rgba(255, 255, 255, 0.18);
}
.wrapper h3,a,span{
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;
}
.button{
    background: #965C25;
    width: 80px;
    height: 20px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    float:right;
    margin-top: 20px;
    margin-right:60px;
}
@media (max-width:50rem){
    .container{
        display: grid;
    }
}